.Navbar {
    height: 65px;
    line-height: 65px;
    background-color: var(--black);
    color: var(--white);
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 997;
    border-bottom: solid 1px var(--light-grey);
    width: 100%;
}

.Navbar .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.Navbar .Navleft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Navbar .Navright {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.Navbar .NavLinks {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 2;
}

.Navbar .logo {
  line-height: 0;
}

.NavLinks ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.NavLinks ul > li {
  margin-right: 10px;
}

.NavLinks ul > li:last-child {
    margin-right: 0;
}

.Navbar a, .Navbar a:hover, .Navbar a:active {
    color: var(--white);
    text-decoration: none;
    border: none;
    background: none;
    font-size: 14px;
    font-weight: bold;
}

.Navbar img {
  height: 40px;
  width: 40px;
}

.Navbar .collapse-menu {
  position: absolute;
  top: 0;
  left: 25px;
}

.Navbar .search-btn {
  position: absolute;
  top: 0;
  right: 25px;
}

.Navbar .Drawer ul {
  list-style: none;
  text-align: center;
  padding-left: 0;
}

.Navbar .Drawer li {
  font-size: 25px;
  text-align: center;
}

@media screen and (min-width: 48em) {
  .Navbar {
    height: 65px;
    line-height: 65px;
  }

  .Navbar .container {
      flex-direction: row;
  }

  .NavLinks ul > li {
    margin-right: 20px;
  }

  .Navbar .Navright {
    margin-left: auto;
  }
}
